@font-face {
    font-family: 'Sunshine';
    font-style: normal;
    font-weight: 400;
    src: local('Sunshine Poppy'), url('../fonts/Sunshine Poppy.woff') format("woff");
}
h1, h2, h2:hover, h3, h4, h5, .special_font {
    font-family: "Arial Rounded MT Bolt", sans-serif;
    font-size: 36px;
    color: #595959;
}
#navigation a, #navigation a:hover, .navbar {
     font-family: "Curlz MT", sans-serif;
    font-size: 25px;
    text-align: center;
}
html, body {
    height: 100%}
body {
    background-color: #fff;
    background-position: top;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    color: #595959;
    font-size: 13px;
    line-height: 1.5em;
}
.content {
    z-index: 9999999;
}
.close {
    position: absolute;
    top: 2px;
    right: 5px;
    z-index: 100;
}
a, a:link, a:visited {
    color: #037b8d;
    outline: none;
}
a:hover {
    color: #960;
    text-decoration: none;
}
.carousel-control.left, .carousel-control.right {
    background-image: none!important;
}
.carousel-control-home {
    width: 50px;
    height: 125px;
    top: 35%}
.carousel-control-detail {
    width: 50px;
    height: 250px;
    top: 35%
}
.carousel .item {
    width: 100%;
    max-height: 350px;
}
.carousel .item img {
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
}
.carousel .gallerij-item img {
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
.carousel {
    margin-bottom: 2%
}
.navbar {
    background-image: url(/img/header_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 310px!important;
    margin-bottom: -30px;
}
.navbar-nav {
    margin-left: -400px;
    margin-top: 163px;
}
@media (max-width:768px) {
    ul.nav.navbar-nav {
        background-color: #037b8d;
        margin-top: 210px;
        margin-left: auto;
        border-radius: 10px;
    }
}
.navbar-toggle {
    margin-left: -410px;
    margin-top: 170px;
    color: #fff;
}
.navbar-toggle:hover {
    color: #c3dc78;
}
.navbar-nav > li > a {
    color: #fff;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #c3dc78;
    background-color: transparent;
}
.footer {
    color: #606060;
    font-size: 10px;
    margin-top: 5px;
    height: 188px;
    width: 100%;
    background: url(/img/footer_design.png);
}
.right_column {
    float: left;
}
.newPhotos {
    display: inline-block;
}
.newPhotos > .photo {
    display: inline-block;
}
.recentPhotos {
    display: inline-block;
}
.recentPhotos > .photo {
    display: inline-block;
    margin-right: 5px;
}
#albumSelect {
    margin-top: 50px;
}
.pasfoto {
    max-width: 300px;
    margin-left: 5px;
}
.right_column ul {
    display: inline-block;
}
.right_column ul li {
    text-align: left;
}
.subHeader {
    font-size: 16px;
    font-weight: bold;
}
.checkbox-center {
    margin: auto;
    display: block;
}
.large-thumb {
    width: 200px;
    height: 200px;
}
.photo > .btn-danger {
    margin-top: 5px;
}
.loading {
    margin: auto;
    display: block;
}
input[type="radio"], input[type="checkbox"] {
    margin: auto;
}